    p::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h1::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h2::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h3::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h4::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h5::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h6::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    a::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    img::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    li::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    ul::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    embed::selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    a {
      color: white;
    }

    a:link {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: grey;
    }

    a:visited {
      visibility: none;
    }

    div::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    
    footer {
      box-shadow: 0 50vh 0 50vh darkslategray;
    }
    p::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h1::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h2::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h3::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h4::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h5::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    h6::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    a::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    img::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    li::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    ul::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    embed::-moz-selection {
      background-color: rgba(226, 180, 89, 0.5);
    }

    a {
      color: white;
      font-size: 30px;
    }

    a:link {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: grey;
    }

    a:visited {
      visibility: none;
    }

    div::-moz-selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    
    footer {
      box-shadow: 0 50vh 0 50vh darkslategray;
    }
    body{
      background-color: gray;
      margin: 0px;
    }
    header{
      background-color: darkslategray;
      padding: 10px;
    }
    .login{
      position: relative;
    }