    p::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    h1::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    h2::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    h3::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    h4::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    h5::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    h6::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    a::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    img::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
    li::selection{
      background-color: rgba(226, 180, 89, 0.5);
    }
